output/Weekly Budget Report.json
{"name":"Weekly Budget Report","nodes":[{"id":"d0fe4472-2925-49ec-b9e2-ddf1644ef2c8","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","parameters":{"rule":{"interval":[{"field":"Weeks","weeksInterval":1,"triggerAtDay":[0],"triggerAtHour":21}]}},"position":[0,0],"typeVersion":1.2},{"id":"ba50bd05-c63c-44ef-a3ca-64550dbe47f9","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","parameters":{"promptType":"define","text":"=Today is: {{ $json['Readable date'] }}\r\n\r\n# Weekly FIRE Progress Report Generator\r\nYou are a FIRE (Financial Independence, Retire Early) progress analyzer. Generate a detailed weekly HTML email report with specific insights from the actual financial data provided.\r\n\r\n## Tools required:\r\n- get-accounts: Get account information and current net worth\r\n- spending-by-category: Count exact transactions, identify spending patterns, find largest expenses, map each category to FIRE categories for precise percentages over the last week\r\n- balance-history: Calculate monthly balance changes and trends over the last couple of months\r\n- monthly-summary: See monthly trends, category breakdown, savings rate over the last couple of months\r\n\r\n## Detailed Analysis Requirements:\r\n1. Weekly FIRE Score (1-10): Based on actual savings rate, spending discipline\r\n2. Net Worth Snapshot: Show exact balance changes, calculate implied savings rate, FIRE timeline impact\r\n3. Monthly Savings Rate Trend\r\n4. Precise Category Breakdown: Calculate exact dollar amounts and percentages for each FIRE category from spending categories\r\n5. Analysis and Recommendations: Identify actual spending patterns, concerning trends, evaluate how closely the FIRE method is being followed\r\n\r\n## FIRE Categories Analysis:\r\n- Wealth Building: Mortgage payments, investments, savings contributions (GREEN)\r\n- Essential: Food, utilities (like power, water, internet), transportation, medical costs, insurance (YELLOW)\r\n- Discretionary: Entertainment, dining out, shopping, subscriptions (RED if >15% of expenses)\r\n\r\n## Output Requirements:\r\n- HTML format suitable for email (inline CSS only)\r\n- **CRITICAL: Output clean HTML, keep lines UNDER 60 character by breaking them - the HTML should be ready to use directly in an email (emails have a character limit per line)**\r\n- Include specific dollar amounts, percentages, and transaction counts from the data\r\n- Mobile-friendly design with clear sections\r\n- Style using Bootstrap 5 with card components, using success (green), warning (yellow), and danger (red) contextual colors for the different FIRE categories.\r\n- No DOCTYPE, comments, or text outside HTML tags\r\n- Start directly with HTML content\r\n\r\n## Tone Requirements:\r\n- Use actual data points in analysis\r\n- Provide specific actionable insights based on real patterns observed\r\n- Be encouraging but honest about areas needing improvement\r\n- Include specific recommendations based on the actual spending behavior shown\r\nAnalyze the provided MCP data thoroughly and generate detailed HTML with specific insights from the actual financial spending and account information.\r\n\r\n\r\nUse this example html file to base your report on, follow its style and structure very closely:\r\n<html>\r\n  <head>\r\n    <title>Your Weekly FIRE Progress Report</title>\r\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\r\n    <style>\r\n      body {\r\n        font-family: Arial, sans-serif;\r\n        color: #333;\r\n        margin: 0;\r\n        padding: 20px;\r\n        background-color: #f5f5f5;\r\n      }\r\n      .container {\r\n        max-width: 600px;\r\n        margin: 0 auto;\r\n        background-color: white;\r\n        padding: 20px;\r\n      }\r\n      .header {\r\n        background-color: #333;\r\n        color: white;\r\n        padding: 20px;\r\n        text-align: center;\r\n        margin: -20px -20px 20px -20px;\r\n      }\r\n      .section {\r\n        margin-bottom: 30px;\r\n        padding-bottom: 20px;\r\n        border-bottom: 1px solid #ddd;\r\n      }\r\n      .score {\r\n        text-align: center;\r\n        margin: 20px 0;\r\n      }\r\n      .score-number {\r\n        font-size: 48px;\r\n        font-weight: bold;\r\n        color: #28a745;\r\n        border: 3px solid #28a745;\r\n        width: 80px;\r\n        height: 80px;\r\n        line-height: 74px;\r\n        margin: 0 auto 10px auto;\r\n        border-radius: 50%;\r\n      }\r\n      .alert {\r\n        padding: 15px;\r\n        margin: 15px 0;\r\n        border-left: 4px solid #28a745;\r\n        background-color: #f0f8f0;\r\n      }\r\n      .alert-warning {\r\n        border-left-color: #ffc107;\r\n        background-color: #fff8e1;\r\n      }\r\n      table {\r\n        width: 100%;\r\n        border-collapse: collapse;\r\n        margin: 15px 0;\r\n      }\r\n      th,\r\n      td {\r\n        padding: 8px 12px;\r\n        text-align: left;\r\n        border-bottom: 1px solid #ddd;\r\n      }\r\n      th {\r\n        background-color: #f8f9fa;\r\n        font-weight: bold;\r\n      }\r\n      .positive {\r\n        color: #28a745;\r\n      }\r\n      .negative {\r\n        color: #dc3545;\r\n      }\r\n      .category-green {\r\n        background-color: #d4edda;\r\n        padding: 3px 8px;\r\n        border-radius: 3px;\r\n        font-size: 12px;\r\n      }\r\n      .category-yellow {\r\n        background-color: #fff3cd;\r\n        padding: 3px 8px;\r\n        border-radius: 3px;\r\n        font-size: 12px;\r\n      }\r\n      .category-red {\r\n        background-color: #f8d7da;\r\n        padding: 3px 8px;\r\n        border-radius: 3px;\r\n        font-size: 12px;\r\n      }\r\n      .bar {\r\n        height: 20px;\r\n        background-color: #e9ecef;\r\n        margin: 10px 0;\r\n        position: relative;\r\n      }\r\n      .bar-fill {\r\n        height: 100%;\r\n        background-color: #28a745;\r\n      }\r\n      .bar-fill-yellow {\r\n        background-color: #ffc107;\r\n      }\r\n      .bar-fill-red {\r\n        background-color: #dc3545;\r\n      }\r\n    </style>\r\n  </head>\r\n  <body>\r\n    <div class=\"container\">\r\n      <div class=\"header\">\r\n        <h1>Weekly FIRE Progress Report</h1>\r\n        <p>July 19 - July 26, 2025</p>\r\n      </div>\r\n\r\n      <div class=\"section\">\r\n        <div class=\"score\">\r\n          <div class=\"score-number\">8</div>\r\n          <h2>Your FIRE Progress Score</h2>\r\n        </div>\r\n\r\n        <div class=\"alert\">\r\n          <strong>Positive Trend:</strong> Your savings rate of 62% this month\r\n          shows excellent progress toward financial independence.\r\n        </div>\r\n\r\n        <p>\r\n          Based on your spending and savings this week, you're making solid\r\n          progress toward your FIRE goals. Your high savings rate demonstrates\r\n          strong financial discipline.\r\n        </p>\r\n      </div>\r\n\r\n      <div class=\"section\">\r\n        <h2>Net Worth Snapshot</h2>\r\n\r\n        <p><strong>Current Net Worth: $62,356.41</strong></p>\r\n\r\n        <table>\r\n          <thead>\r\n            <tr>\r\n              <th>Account</th>\r\n              <th>Balance</th>\r\n              <th>Monthly Change</th>\r\n            </tr>\r\n          </thead>\r\n          <tbody>\r\n            <tr>\r\n              <td>Bank of America</td>\r\n              <td>$4,564.93</td>\r\n              <td class=\"positive\">+$4,884.82</td>\r\n            </tr>\r\n            <tr>\r\n              <td>Ally Savings</td>\r\n              <td>$3,770.71</td>\r\n              <td class=\"positive\">+$334.84</td>\r\n            </tr>\r\n            <tr>\r\n              <td>Capital One Checking</td>\r\n              <td>$1,089.81</td>\r\n              <td class=\"positive\">+$193.20</td>\r\n            </tr>\r\n            <tr>\r\n              <td>HSBC</td>\r\n              <td>$1,277.55</td>\r\n              <td class=\"positive\">+$624.43</td>\r\n            </tr>\r\n            <tr>\r\n              <td>Vanguard 401k</td>\r\n              <td>$1,632.24</td>\r\n              <td>$0.00</td>\r\n            </tr>\r\n            <tr>\r\n              <td>Roth IRA</td>\r\n              <td>$3,094.30</td>\r\n              <td class=\"positive\">+$443.13</td>\r\n            </tr>\r\n            <tr>\r\n              <td>House Asset</td>\r\n              <td>$356,700.00</td>\r\n              <td class=\"positive\">+$900.00</td>\r\n            </tr>\r\n            <tr>\r\n              <td>Mortgage</td>\r\n              <td>-$309,773.13</td>\r\n              <td class=\"positive\">+$1,447.43</td>\r\n            </tr>\r\n          </tbody>\r\n        </table>\r\n\r\n        <div class=\"alert alert-warning\">\r\n          <strong>Savings Rate Trend:</strong> Your rate declined from 86.9% in\r\n          May to 62% in July but remains strong.\r\n        </div>\r\n\r\n        <p>\r\n          <strong>FIRE Timeline:</strong> Based on your current savings rate of\r\n          62% and assuming a 4% withdrawal rate, you're on track for financial\r\n          independence in approximately 10-12 years.\r\n        </p>\r\n      </div>\r\n\r\n      <div class=\"section\">\r\n        <h2>Weekly Spending Analysis</h2>\r\n\r\n        <p><strong>Total Spending: $531.42</strong></p>\r\n\r\n        <h4>FIRE Category Breakdown</h4>\r\n        <table>\r\n          <tr>\r\n            <td>Wealth Building <span class=\"category-green\">GREEN</span></td>\r\n            <td>$0.00</td>\r\n            <td>0%</td>\r\n          </tr>\r\n          <tr>\r\n            <td>Essential <span class=\"category-yellow\">YELLOW</span></td>\r\n            <td>$310.55</td>\r\n            <td>58.5%</td>\r\n          </tr>\r\n          <tr>\r\n            <td>Discretionary <span class=\"category-red\">RED</span></td>\r\n            <td>$220.87</td>\r\n            <td>41.5%</td>\r\n          </tr>\r\n        </table>\r\n\r\n        <h4>Detailed Spending</h4>\r\n        <table>\r\n          <thead>\r\n            <tr>\r\n              <th>Category</th>\r\n              <th>Amount</th>\r\n              <th>Transactions</th>\r\n              <th>Type</th>\r\n            </tr>\r\n          </thead>\r\n          <tbody>\r\n            <tr>\r\n              <td>Entertainment</td>\r\n              <td>$107.30</td>\r\n              <td>5</td>\r\n              <td><span class=\"category-red\">Discretionary</span></td>\r\n            </tr>\r\n            <tr>\r\n              <td>General</td>\r\n              <td>$101.02</td>\r\n              <td>4</td>\r\n              <td><span class=\"category-red\">Discretionary</span></td>\r\n            </tr>\r\n            <tr>\r\n              <td>Clothing</td>\r\n              <td>$100.51</td>\r\n              <td>5</td>\r\n              <td><span class=\"category-yellow\">Essential</span></td>\r\n            </tr>\r\n            <tr>\r\n              <td>Food</td>\r\n              <td>$100.23</td>\r\n              <td>2</td>\r\n              <td><span class=\"category-yellow\">Essential</span></td>\r\n            </tr>\r\n            <tr>\r\n              <td>Power</td>\r\n              <td>$100.00</td>\r\n              <td>1</td>\r\n              <td><span class=\"category-yellow\">Essential</span></td>\r\n            </tr>\r\n            <tr>\r\n              <td>Restaurants</td>\r\n              <td>$13.05</td>\r\n              <td>5</td>\r\n              <td><span class=\"category-red\">Discretionary</span></td>\r\n            </tr>\r\n          </tbody>\r\n        </table>\r\n      </div>\r\n\r\n      <div class=\"section\">\r\n        <h2>Analysis &amp; Recommendations</h2>\r\n\r\n        <h4>Key Insights</h4>\r\n        <ul>\r\n          <li>\r\n            <strong>Discretionary Spending Alert:</strong> At 41.5% of your\r\n            total expenses, your discretionary spending is above the recommended\r\n            15% threshold.\r\n          </li>\r\n          <li>\r\n            <strong>No Wealth Building:</strong> You had no wealth building\r\n            transactions this week.\r\n          </li>\r\n          <li>\r\n            <strong>Entertainment Habits:</strong> Entertainment was your\r\n            largest discretionary category at $107.30.\r\n          </li>\r\n          <li>\r\n            <strong>Good Restaurant Control:</strong> Only $13.05 spent on\r\n            restaurants across 5 transactions shows good discipline.\r\n          </li>\r\n        </ul>\r\n\r\n        <h4>Recommendations</h4>\r\n        <ol>\r\n          <li>\r\n            Reduce entertainment spending by 50% next week to bring\r\n            discretionary expenses closer to 15%.\r\n          </li>\r\n          <li>\r\n            Review the \"General\" category transactions ($101.02) to identify\r\n            unnecessary expenses.\r\n          </li>\r\n          <li>Set up automated transfers to investment accounts.</li>\r\n          <li>Continue positive housing equity growth trend.</li>\r\n        </ol>\r\n      </div>\r\n\r\n      <div class=\"section\">\r\n        <h2>Monthly Savings Rate Trend</h2>\r\n\r\n        <p><strong>May 2025:</strong> 86.9%</p>\r\n        <div class=\"bar\">\r\n          <div class=\"bar-fill\" style=\"width: 86.9%\"></div>\r\n        </div>\r\n\r\n        <p><strong>June 2025:</strong> 74.2%</p>\r\n        <div class=\"bar\">\r\n          <div class=\"bar-fill\" style=\"width: 74.2%\"></div>\r\n        </div>\r\n\r\n        <p><strong>July 2025:</strong> 62.0%</p>\r\n        <div class=\"bar\">\r\n          <div class=\"bar-fill bar-fill-yellow\" style=\"width: 62%\"></div>\r\n        </div>\r\n\r\n        <p>\r\n          Your overall average savings rate of 74% is excellent for FIRE\r\n          purposes. The downward trend requires attention, but you're still well\r\n          above the 50% threshold needed for aggressive FIRE progress.\r\n        </p>\r\n      </div>\r\n\r\n      <div class=\"section\" style=\"border-bottom: none\">\r\n        <h3>Next Steps</h3>\r\n        <p>\r\n          Focus on reducing discretionary spending to under 15% of total\r\n          expenses. Set up automated transfers to investment accounts to ensure\r\n          consistent wealth building.\r\n        </p>\r\n\r\n        <p>\r\n          Your FIRE journey is making excellent progress. With some adjustments\r\n          to discretionary spending, you can optimize your path to financial\r\n          independence.\r\n        </p>\r\n      </div>\r\n    </div>\r\n  </body>\r\n</html>\r\n"},"position":[0,0],"typeVersion":2},{"id":"26452d06-9eff-4e72-b590-34ce9ba1bc85","name":"OpenRouter Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","parameters":{"model":"=anthropic/claude-3.7-sonnet"},"position":[0,0],"typeVersion":1,"credentials":{"openRouterApi":{"name":"OpenRouter my","id":"nN8UkME96wTEJUsX"}}},{"id":"e5baae08-4333-4bbc-9f28-3dfc24f6ca45","name":"MCP Client","type":"@n8n/n8n-nodes-langchain.mcpClientTool","parameters":{"sseEndpoint":"https://duck-fleet-sturgeon.ngrok-free.app/sse","include":"selected","includeTools":["get-accounts","spending-by-category","balance-history","monthly-summary"],"authentication":"bearerAuth"},"position":[0,0],"typeVersion":1,"credentials":{"httpBearerAuth":{"name":"MCP dev","id":"YN6s2NRMOeFiQSs5"}}},{"id":"52e9a592-85d5-4499-b317-33bfbe8de1a4","name":"Resend","type":"n8n-nodes-base.httpRequest","parameters":{"method":"POST","url":"https://api.resend.com/emails","authentication":"genericCredentialType","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"from","value":"=onboarding@resend.dev"},{"name":"to","value":"=adomas.reginis@gmail.com"},{"name":"subject","value":"=Budget Report — {{ $('Schedule Trigger').item.json.Month }}{{ $('Schedule Trigger').item.json['Day of month'] }}"},{"name":"text","value":"="},{"name":"html","value":"={{ $json.output }}"}]},"nodeCredentialType":false,"genericAuthType":"httpBearerAuth"},"position":[0,0],"typeVersion":4.2,"credentials":{"httpBearerAuth":{"name":"Resend my","id":"GyoOmDhEai7HY25I"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Resend","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Resend":{}},"settings":{}}